
SECRET_KEY=local-dev-secret-key-12345
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DEBUG=True
DJANGO_SETTINGS_MODULE=smart_survey.settings

# PostgreSQL
DB_NAME=formiq_db
DB_USER=formiq_admin
DB_PASSWORD=securelocalpassword123
DB_HOST=db
DB_PORT=5432
DB_SSLMODE=disable

# Redis
REDIS_URL=redis://redis:6339/0

# MongoDB
MONGO_URI=mongodb://mongo_admin:mongopass123@mongodb:27017/formiq_mongo?authSource=admin

# Google Gemini API key
GOOGLE_API_KEY=YourKey

